#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {

    macros {
        display1: display1 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LCTL>,
                       <&macro_tap &kp 1>,
                       <&macro_release &kp LCTL>,
                       <&macro_press &kp LCTL>,
                       <&macro_tap &kp 6>,
                       <&macro_release &kp LCTL>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp Q &kp W &kp E &kp R &kp T
                &kp A &kp S &kp D &kp F &kp G
                &kp Z &kp X &kp C &kp A &kp V
                &kp 1 &kp 2 &kp 3 &kp 4 &kp 5
                &kp 6 &kp 7 &kp 8 &kp 9 &kp 0
            >;
        };
        
    };
    
};