#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {

    macros {
        display1: display1 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =  <&macro_tap &kp LC(N1)>,
                        <&macro_tap &kp LC(N6)>;
        };
        display2: display2 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =  <&macro_tap &kp LC(N2)>,
                        <&macro_tap &kp LC(N7)>;
        };
        display3: display3 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =  <&macro_tap &kp LC(N3)>,
                        <&macro_tap &kp LC(N8)>;
        };
        display4: display4 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =  <&macro_tap &kp LC(N4)>,
                        <&macro_tap &kp LC(N9)>;
        };
        display5: display5 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =  <&macro_tap &kp LC(N5)>,
                        <&macro_tap &kp LC(N0)>;
        };
    };
    
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp A &kp B &kp C &kp D &kp E
                &kp F &kp G &kp H &kp I &kp J
                &kp K &kp L &kp M &kp N &kp O
                &kp P &kp Q &kp R &kp S &kp T
                &display1 &display2 &display3 &display4 &display5
            >;
        };
        
    };
    
};
