#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>


#define L0 0
#define L1 1
#define L2 2
#define L3 3
#define L4 4


/ {

    macros {
        display1: display1 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =  <&macro_tap &kp LC(N1)>,
                        <&macro_tap &kp LC(N6)>;
        };
        display2: display2 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =  <&macro_tap &kp LC(N2)>,
                        <&macro_tap &kp LC(N7)>;
        };
        display3: display3 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =  <&macro_tap &kp LC(N3)>,
                        <&macro_tap &kp LC(N8)>;
        };
        display4: display4 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =  <&macro_tap &kp LC(N4)>,
                        <&macro_tap &kp LC(N9)>;
        };
        display5: display5 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =  <&macro_tap &kp LC(N5)>,
                        <&macro_tap &kp LC(N0)>;
        };
        window_left_side: window_left_side {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <
                &macro_press &kp LSHFT
                &macro_press &kp LCTRL
                &macro_press &kp LCMD
                &macro_press &kp LALT
                &macro_tap &kp KP_N2
                &macro_release &kp LSHFT
                &macro_release &kp LCTRL
                &macro_release &kp LCMD
                &macro_release &kp LALT
            >;
        };
        window_right_side: window_right_side {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <
                &macro_press &kp LSHFT
                &macro_press &kp LCTRL
                &macro_press &kp LCMD
                &macro_press &kp LALT
                &macro_tap &kp KP_N3
                &macro_release &kp LSHFT
                &macro_release &kp LCTRL
                &macro_release &kp LCMD
                &macro_release &kp LALT
            >;
        };
        window_left_bottom_side: window_left_bottom_side {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <
                &macro_press &kp LSHFT
                &macro_press &kp LCTRL
                &macro_press &kp LCMD
                &macro_press &kp LALT
                &macro_tap &kp KP_N5
                &macro_release &kp LSHFT
                &macro_release &kp LCTRL
                &macro_release &kp LCMD
                &macro_release &kp LALT
            >;
        };
        window_right_bottom_side: window_right_bottom_side {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <
                &macro_press &kp LSHFT
                &macro_press &kp LCTRL
                &macro_press &kp LCMD  // Command key for Mac (use LWIN for Windows)
                &macro_press &kp LALT
                &macro_tap &kp KP_N6
                &macro_release &kp LSHFT
                &macro_release &kp LCTRL  // Command key for Mac (use LWIN for Windows)
                &macro_release &kp LCMD
                &macro_release &kp LALT
            >;
        };
        window_left_top_side: window_left_top_side {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <
                &macro_press &kp LSHFT
                &macro_press &kp LCTRL
                &macro_press &kp LCMD  // Command key for Mac (use LWIN for Windows)
                &macro_press &kp LALT
                &macro_tap &kp KP_N8
                &macro_release &kp LSHFT
                &macro_release &kp LCTRL  // Command key for Mac (use LWIN for Windows)
                &macro_release &kp LCMD
                &macro_release &kp LALT
            >;
        };
        window_right_top_side: window_right_top_side {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <
                &macro_press &kp LSHFT
                &macro_press &kp LCTRL
                &macro_press &kp LCMD  // Command key for Mac (use LWIN for Windows)
                &macro_press &kp LALT
                &macro_tap &kp KP_N9
                &macro_release &kp LSHFT
                &macro_release &kp LCTRL  // Command key for Mac (use LWIN for Windows)
                &macro_release &kp LCMD
                &macro_release &kp LALT
            >;
        };
    };
    
    behaviors {
        bt_sel_clear_0: bt_sel_clear_0 {
            compatible = "zmk,behavior-hold-tap";
            label = "BT Profile 0 - Tap: Select, Hold: Clear";
            #binding-cells = <2>;
            bindings = <&bt BT_SEL 0>, <&bt BT_CLR 0>;
        };
        bt_sel_clear_1: bt_sel_clear_1 {
            compatible = "zmk,behavior-hold-tap";
            label = "BT Profile 1 - Tap: Select, Hold: Clear";
            #binding-cells = <2>;
            bindings = <&bt BT_SEL 1>, <&bt BT_CLR 1>;
        };
        bt_sel_clear_2: bt_sel_clear_2 {
            compatible = "zmk,behavior-hold-tap";
            label = "BT Profile 2 - Tap: Select, Hold: Clear";
            #binding-cells = <2>;
            bindings = <&bt BT_SEL 2>, <&bt BT_CLR 2>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        l0 {
            bindings = <
                &to L0 &to L1 &to L2 &to L3 &to L4 
                &kp F &kp G &kp H &window_left_top_side &window_right_top_side
                &kp K &kp L &kp M &window_left_bottom_side &window_right_bottom_side
                &kp P &kp Q &kp R &window_left_side &window_right_side
                &display1 &display2 &display3 &display4 &display5
            >;
        };


        l1 {
            bindings = <
                &trans &trans &trans &trans &trans
            >;    
        };

        l2 {
            bindings = <
                &trans &trans &trans &trans &trans
            >;   
        };

        l3{
            bindings = <
                &trans &trans &trans &trans &trans
            >;   
        };

        l4 {
            bindings = <
                &trans &trans &trans &trans &trans
                &bt_sel_clear_0 &bt_sel_clear_1 &bt_sel_clear_2 &none &none
            >;   
        };
    };
    
};
